<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto mt-4">
      <div class="card">
        <div class="card-body mt-3 mb-3 p-3">
          <h4 class="card-title">{{ contactDetail.name }}
            <button (click)="removeContact()" class="btn btn-outline-danger float-end">❌</button>
          </h4>
          <p class="card-text">{{ contactDetail.phone_number }}</p>
          <p class="card-text">{{ contactDetail.address }}</p>
          <p class="card-text">{{ contactDetail.city_state }}</p>
          <p class="card-text">{{ contactDetail.reference }}</p>
          <hr>
          <h6 class="card-subtitle mb-2 text-muted">Contact Emails:</h6>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let email of contactDetail.emails?.length ? contactDetail.emails : []">
              {{ email.email }} ({{ email.category }})
            </li>
          </ul>
          <hr>
          <h6 class="card-subtitle mb-2 text-muted">Contact Socials:</h6>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let social of contactDetail.socials?.length ? contactDetail.socials : []">
              {{ social.social }} ({{ social.category }})
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
