<form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
  <div class="form-group" *ngIf="contacts.length">
    <label for="contact">Contact:</label>
    <select formControlName="contact" class="form-control">
      <option value="">Choose a contact</option>
      <option *ngFor="let contact of contacts" [value]="contact.id">{{contact.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" formControlName="email" class="form-control">
  </div>
  <div class="form-group">
    <label for="category">Category:</label>
    <select formControlName="category" class="form-control">
      <option value="">Choose an Email Type</option>
      <option *ngFor="let cat of emailCategories" >{{cat}}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
