<h1 class="text-center p-3">Register User</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" required>
    <mat-error *ngIf="registerForm.controls['username'].errors && registerForm.controls['username'].touched">
      Please enter a valid username.
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" required>
    <mat-error *ngIf="registerForm.controls['email'].errors && registerForm.controls['email'].touched">
      Please enter a valid email.
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput formControlName="first_name" required>
    <mat-error *ngIf="registerForm.controls['first_name'].errors && registerForm.controls['first_name'].touched">
      Please enter a valid first name.
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="last_name" required>
    <mat-error *ngIf="registerForm.controls['last_name'].errors && registerForm.controls['last_name'].touched">
      Please enter a valid last name.
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" required>
    <mat-error *ngIf="registerForm.controls['password'].errors && registerForm.controls['password'].touched">
      Please enter a valid password.
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Confirm Password</mat-label>
    <input matInput type="password" formControlName="confirm_password" required>
    <mat-error *ngIf="registerForm.controls['confirm_password'].errors && registerForm.controls['confirm_password'].touched">
      Passwords do not match.
    </mat-error>
  </mat-form-field>
  <button mat-raised-button [disabled]="!registerForm.valid" color="primary" type="submit">Login</button>
</form>
